.verifyButton {
  height: 56px;

  @media (max-width: 768px) {
    height: auto;
    padding: 10px 5px 10px 5px;
  }

  @media (max-width: 460px) {
    p {
      font-size: 14px !important;
    }
  }

}

.avatarBox:hover > .changeButton{
  display: block;
}

.changeButton {
  display: none;
}

