/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"); */

html,
body {
  padding: 0;
  margin: 0;
}
* {
  /* font-family: "Roboto", sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  box-sizing: border-box;
  --color-fg-accent: #5946ff;
  /* scrollbar-width: "none"; */
  /* -ms-overflow-style: none; */
}
/* ::-webkit-scrollbar {
  display: none;
} */
/* *:focus {
  outline: none;
  box-shadow: none;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

a {
  color: inherit;
  text-decoration: none;
}

/**
 * Full screen page need this class in case of bottom nav show/hide
 * To avoid cover the page content by bottom nav
 * But maintain the page background underneath the bottom nav
 */
.fullscreenPage {
  padding-bottom: var(--page-padding-bottom);
  padding-top: var(--page-padding-top);
}
.scrollPage {
  padding-bottom: var(--page-padding-bottom);
  padding-top: var(--page-padding-top);
}
/* This must be synced with mui theme.breakpoint.sm */
@media (max-width: 768px) {
  .scrollPage {
    padding-top: var(--page-padding-top-mobile);
  }
}

/* .pswp img {
  max-width: none;
  object-fit: contain;
} */

w3m-modal {
  position: relative;
  z-index: 1200;
}

#invest-highlight-projects .swiper-pagination-bullets {
  position: initial !important;
  bottom: -30px !important;
}
