//.bankCard .closeButton {
//  visibility: hidden;
//
//  @media (max-width: 768px) {
//    visibility: visible;
//  }
//}
//
//.bankCard:hover .closeButton {
//  visibility: visible;
//}

.bankCard:hover {
  cursor: pointer;
}

.bankCard {
  @media (max-width: 460px) {
    flex-direction: column;
    height: auto;
    padding: 30px;
  }
}

.bankCardMedia {
  @media (max-width: 460px) {
    width: 100%;
  }
}

.bankCardContent {
  @media (max-width: 460px) {
    padding-top: 10px;
    padding-left: 0;
    font-size: large;
  }
}

.bankCardTextTitle {
  @media (max-width: 460px) {
    font-size: medium;
  }
}

.bankCardTextSubtitle {
  @media (max-width: 460px) {
    font-size: large;
  }
}