  @media (max-width: 460px) {
    .vipCard {
      margin-right: 25px;
    width: 320px;}
    .title {
      width: 320px;
    }
    .infoIcon {
      right: -4px;
    }
    .cardNumber{
      left: 15px;
      font-size: 20px;
    }
    .cardOwner{
      left: 15px;
    }
  }

